<div class="panel ">
    <div class="title d-flex justify-content-center" >
        <h2>Detalle de Produccion</h2>
      </div>
    <div class="container">
        <div class="formulario mt-4">
            <form>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="formGroupExampleInput1">DEPENDENCIAS:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="dependencia"
                      name="dependencia"
                      [(ngModel)]="dataProduccion.id_dependencia"
                      [disabled]="true"
                    />
                  </div>
                  <div class="form-group mt-2">
                    <label for="formGroupExampleInput2">MAGISTRADO:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="magistrado"
                      name="magistrado"
                      [(ngModel)]="dataProduccion.id_magistrado"
                      [disabled]="true"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="formGroupExampleInput3">AÑO:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="anio"
                      name="anio"
                      [(ngModel)]="dataProduccion.anio"
                      [disabled]="true"
                    />
                  </div>
                  <div class="form-group mt-2">
                    <label for="formGroupExampleInput4">MES:</label>
                    <input
                      type="number"
                      class="form-control"
                      id="mes"
                      name="mes"
                      [(ngModel)]="dataProduccion.mes"
                      [disabled]="true"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="form-check mt-4 d-flex justify-content-end">
            <input
              class="form-check-input"
              type="checkbox"
              id="checkmodificacion"
              [(ngModel)]="checkHabilitado"
              (change)="checkboxCambio()"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Habilitar Modificacion
            </label>
          </div>
          <div class="cuerpo mt-4">
            <br />
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">FUNCIONES</th>
                  <th scope="col">EN EL PERIDO</th>
                  <th scope="col">REACTIVADOS</th>
                  <th scope="col">ESPECIAL COMPLEJIDAD</th>
                  <th scope="col">APELACION</th>
                  <th scope="col">TRAMITE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataValoresProduccion; index as i">
                  <td>{{ item.funcion }}</td>
                  <td>
                    <input
                      type="number"
                      [(ngModel)]="item.valor1"
                      [disabled]="!checkHabilitado"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      [(ngModel)]="item.valor2"
                      [disabled]="!checkHabilitado"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      [(ngModel)]="item.valor3"
                      [disabled]="!checkHabilitado"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      [(ngModel)]="item.valor4"
                      [disabled]="!checkHabilitado"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      [(ngModel)]="item.valor5"
                      [disabled]="!checkHabilitado"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <div class="obs">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">OBSERVACIONES:</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextareaObser"
                rows="3"
                name="obs"
                [(ngModel)]="dataProduccion.obs"
                [disabled]="!checkHabilitado"
              ></textarea>
            </div>
          </div>
          <br />
          <div class="footer d-flex justify-content-end align-items-center">
            <button
              type="button"
              class="btn btn-success mx-2"
              [disabled]="!checkHabilitado"
              (click)="ModificarDatos()"
            >
              GUARDAR
            </button>
          
            <a class="nav-link mx-2" ><i class="bi bi-trash icon-custom" title="trash" (click)="ModifcarEstadoProduccion()"></i></a>

          </div>
    </div>

</div>
